@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #ff8000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  /* Font families */
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
  --font-family-inter: var(--font-inter);
  --font-family-poppins: var(--font-poppins);
  --font-family-anton: var(--font-anton);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
